<div class="row">
  <div class="large-12 large-centered columns">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <fieldset>
      <legend><h2>Sign up</h2></legend>
      <div class="row">
        <div class="large-3 columns">
          <%= f.label :full_name,:class => "left-inline" %>
        </div>
        <div class="large-9 columns">            
          <%= f.text_field :full_name, :autofocus => true %>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
            <%= f.label :email ,:class => "left-inline" %><br />
        </div>
        <div class="large-9 columns">    
            <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
            <%= f.label :password, :class => "left-inline" %>
        </div>
        <div class="large-9 columns">    
          <% if @validatable %>
            <span data-tooltip aria-haspopup="true" class="has-tip tip-down" title="(<%= @minimum_password_length %> characters minimum)">
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
            </span>
        </div>
      </div>
      <div class="row">
        <div class="large-3 columns">
            <%= f.label :password_confirmation, :class => "left-inline" %><br />
        </div>
        <div class="large-9 columns">    
           <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="row">
        <div class="large-2 large-centered columns" >
          <%= f.submit "Sign up",:class => "small button radius"  %>
        </div>
      </div>
    </fieldset>
    <% end %>
<%= render "devise/shared/links" %>
  </div>
</div>