<div >
<%= form_tag( { :action => :index }, { :method => :get }) do %>
<%= label_tag 'new_resource_id', 'Aula:' %>
<%= select_tag :resource_id , options_for_select(@resources, :selected => @resource_id) %><br>

<% if current_user.admin? %>
<%= label_tag 'new_user_id', 'Usuario:' %>
<%= select_tag :user_id , options_for_select( @users, :selected => @user_id) %> <br>
<% end %>
<%= label_tag 'goto', 'Fecha:' %>
<%= date_select('goto', 'day', options = {selected: @date, start_year: 2014, end_year:2015, include_blank: false} , html_options = { class: 'select-date'})%>
<%= submit_tag "Ir", class: "btn btn-primary" %>
<%end%>
</div>
<br>
<div>
    
<p>Filter:</p>
<ul class="nav nav-pills">
    <%#  %>
    <% @allowed_status.each do |s| %>
       <li role="presentation" <%= @status == s ? 'class = active' : '' %>><%= link_to s, bookings_path(status: s, resource_id: @resource.nil? ? 0 : @resource.id, user_id: @user_id, date: @date)%></li>    
    <% end %>
</ul>
</div>