<div class="container">
<div class="row">
   <div class="col-md-8">
       
          <h1><%=@resource.name %> -  <%= @date %></h1>
       <p>Estado:</p>
<ul class="nav nav-pills">
    <% @allowed_status.each do |s| %>
       <li role="presentation" <%= @status == s ? 'class = active' : '' %>><%= link_to s, bookings_path(status: s)%></li>    
    <% end %>
</ul>

   </div>
   <div class="col-md-4">
        <h2>Ir a</h2>
        <%= form_tag( { :action => :index }, { :method => :get }) do %>
        <%= label_tag 'new_resource_id', 'Aula:' %>
        <%= select_tag :resource_id , options_for_select(@resources, :selected => @resource_id) %><br>
        <%= label_tag 'goto', 'Fecha:' %>
        <%= date_select('goto', 'day', options = {selected: @date,  include_blank: false} )%>
        <%= submit_tag "Ir", class: "btn btn-primary" %>
        <%end%>
    </div>
  </div>
</div>
