<%= link_to "Volver", resources_path %> | 
<%= link_to "Crear reserva", new_resource_booking_path(@resource[:id])%>
<%if @all_slots.present? %>
<p>Lista de reservas para el recurso: <%= @resource[:name] %></p>
  <table width="100%">
    <tr>
      <td>Inicio</td>
      <td>Fin</td>
      <td>Estado </td>
      <td>Usuario </td> 
   </tr>
    <%@all_slots.each do |b|%>
    <tr>
      <td><%=Time.parse(b[:start]).strftime('%F %R')%></td>
      <td><%=Time.parse(b[:finish]).strftime('%F %R')%></td>
      <td><%=b[:status]||='free'%></td>
      <td><%=b[:user_name]%></td>
      <td>
        <% case b[:status] %>
        <% when 'approved' %> 
           <% if (current_user.admin? or current_user.id == b[:user].to_i) %>
             <%= link_to "Cancelar", resource_booking_path(:id => b[:id], :resource => @resource), :method => :delete %>
           <% end %>
        <% when 'pending' %>  
           <% if current_user.admin? %>
             <%= link_to "Aprobar", resource_booking_path(:id => b[:id], :resource => @resource), :method => :put  %> |
           <% end %>
          <% if (current_user.admin? || current_user[:id] == b[:user].to_i) %>
          <%= link_to "Rechazar", resource_booking_path(:resource=>@resource, :id => b[:id]), :method => :delete  %>
           <% end %> 

        <% when 'free' %>     
           <%= link_to "Reservar", new_resource_booking_path(:start => b[:start], :finish => b[:finish], :user_name => current_user[:full_name], :user_id => current_user[:id],:resource => @resource) %>
        <% end %>
      </td>
    </tr>
    <%end%>
  </table>
<%else%>
  <p>No Bookings Found</p>
<%end%>