    <%= render "index_heading" %>
    <table width="100%">
      <tr>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Estado </th>
        <th>Usuario </th>
        <th>Acciones </th>
      </tr>
      <%@all_slots.each do |b|%>
        <tr>
          <td>
              <%=Time.parse(b.start).strftime('%R')%>
         </td>
          <td>
              <%=Time.parse(b.finish).strftime('%R')%>
          </td>
          <td>
              <%=b.status||='free'%>
          </td>
          <td>
              <%=b.owner_email %>
          </td>
          <td>
            <%= render partial: 'index_actions', locals: {b: b, resource_id: @resource.id} %>
          </td>
        </tr>
      <%end%>
  </table>



