<%= link_to "Volver", resources_path %> |
<%= link_to "Crear reserva", new_resource_booking_path(:resource_id => params[:resource_id])%>
<%if @bookings.present? %>
  <p>Lista de reservas</p>
  <table width="100%">
    <tr>
      <td>Inicio</td>
      <td>Fin</td>
      <td>Estado </td>
      <td>Usuario </td> 
   </tr>
    <%@bookings.each do |b|%>
    <tr>
      <td><%=Time.parse(b[:start]).strftime('%F %R')%></td>
      <td><%=Time.parse(b[:finish]).strftime('%F %R')%></td>
      <td><%=b[:status]%></td>
      <td><%=b[:user]%></td>
      <td>
        <% if b[:status]=='approved' %> 
        <%= link_to "Cancelar", resource_booking_path(:id => b[:id], :resource_id => params[:resource_id]), :method => :delete %>
        <% else %>
        <%= link_to "Aprobar", resource_booking_path(:id => b[:id], :resource_id => params[:resource_id]), :method => :put  %>
        <%= link_to "Rechazar", resource_booking_path(:id => b[:id], :resource_id => params[:resource_id]), :method => :delete  %>
        <% end %>
      </td>
    </tr>
    </tr>
    <%end%>
  </table>
<%else%>
  <p>No Bookings Found</p>
<%end%>