<%= link_to "Volver", resources_path %> |
<%= link_to "Crear reserva", new_resource_booking_path(:resource_id => params[:resource_id])%>
<%if @bookings.present? %>
  <p>Lista de reservas</p>
  <table width="100%">
    <tr>
      <td>start</td>
      <td>finish</td>
      <td>status </td>
      <td>user </td> 
   </tr>
    <%@bookings.each do |b|%>
    <tr>
      <td><%=b[:start]%></td>
      <td><%=b[:finish]%></td>
      <td><%=b[:status]%></td>
      <td><%=b[:user]%></td>
      <td>
        <% if b[:status]=='approved' %> 
        <%= link_to "Cancelar", resource_booking_path(:id => b[:id], :resource_id => params[:resource_id]), :method => :delete %>
        <% else %>
        <%= link_to "Aprobar", resource_booking_path(:id => b[:id], :resource_id => params[:resource_id]), :method => :put  %>
        <%= link_to "Rechazar", resource_booking_path(:id => b[:id], :resource_id => params[:resource_id]), :method => :delete  %>
        <% end %>
      </td>
    </tr>
    </tr>
    <%end%>
  </table>
<%else%>
  <p>No Bookings Found</p>
<%end%>