<%= link_to "Volver", resources_path %> |
<%if @users.present? %>
  <p>Usuarios</p>
  <table width="100%">
    <tr>
      <td>id</td>
      <td>Nombre</td>
      <td>email</td>
      <td>Admin?</td>
   </tr>
    <%@users.each do |e|%>
    <tr>
      <td><%=e[:id]%></td>
      <td><%=e[:full_name]%></td>
      <td><%=e[:email]%></td>
      <td><%=e[:admin]%></td>
    </tr>
    <%end%>
  </table>
<%else%>
  <p>No Bookings Found</p>
<%end%>