<% if current_user.admin? %>
  <%= link_to "Crear aula nueva", new_resource_path %>
<%end%>
<%if @resources.present? %>
  <p>Lista de aulas</p>
  <table width="100%">
    <tr>
      <td><%= t('name') %></td>
      <td>Descripcion</td>
      <td>Ver </td> 
   </tr>
    <%@resources.each do |r|%>
    <tr>
      <td><%= current_user.admin? ? (link_to r.name, resource_path(r.id)) : r.name %> </td>
      <td><%=r.description%></td>
      <td>
          <%= link_to "Reservas", resource_bookings_path(:resource_id =>r.id)  %> 
      </td>
    </tr>
    <%end%>
  </table>
<%else%>
  <p>No Resources Found</p>
<%end%>
