  <% if user_signed_in? %>
     <div class="icon-bar five-up">         
     <a class="item" href="/own_bookings?status=all"> <i class="fi-pencil"></i> <label>Mis reservas</label> </a> 
     <%= link_to('<i class="fi-annotate"></i> <label>Aulas</label> </a>'.html_safe, resources_path, :class => "item") %>
     <% if current_user.admin? %>
       <%= link_to '<i class="fi-torsos"></i> <label>Usuarios</label> </a>'.html_safe, users_path, :class=>"item" %>
     <% end %>
     <%= link_to('<i class="fi-widget"></i> <label>Mi cuenta</label> </a>'.html_safe, edit_user_registration_path, :class => "item") %>
     <%= link_to '<i class="fi-arrow-right"></i><label>Salir</label>'.html_safe, destroy_user_session_path,  :method => :delete, :class => "item" %>
  <% else %>
     <div class="icon-bar two-up">         

     <%= link_to('<i class="fi-checkbox"></i> <label>Registrarse</label> </a>'.html_safe, new_user_registration_path,:class => "item", "data-reveal-id"=>"myModal", "data-reveal-ajax"=>"true") %>
     <%= link_to '<i class="fi-key"></i> <label>Ingresar</label> </a>'.html_safe, new_user_session_path, :class => "item", "data-reveal-id"=>"myModal", "data-reveal-ajax"=>"true" %> 
  <% end %>
</div>
         
<div id="myModal" class="small reveal-modal" data-reveal>

</div>