<ul class="nav">
  <li><%= link_to 'Inicio', root_path %></li>
  <% if current_user.admin? %>
    <li><%= link_to 'Usuarios', users_path %></li>

  <% end %>
  <%= render 'layouts/navigation_links' %>
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>


</ul>

